Instructions

1. Save the Python ETL.py script to a location on the computer, e.g. 'C:\Temp'

2. Edit ETL.py and update the following variables:
   2.1. Set the src_path variable to the location where the Excel data files are located, e.g. 'X:\\privia_family_medicine\\from_client\\'
   2.2. Set the svr variable to the server name where PersonDatabase is located, e.g. 'WIN-4RQ5SVVZX34'

3. Install the these Python modules using the Windows command prompt:
   3.1. C:\Temp>pip install petl
   3.2. C:\Temp>pip install openpyxl
   3.3. C:\Temp>pip install pyodbc

4. From the command line, navigate to the C:\Temp folder and execute ETL.py:
   4.1. C:\Temp>ETL.py